@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

.app {
    font-family: 'Signika Negative', sans-serif;
}

.app .container {
    margin: 0px;
    padding: 0px;
}

.app .col-sm-3 {
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .app {
        overflow-x: hidden;
    }
}